<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商城后台管理系统</title>
	<link rel="stylesheet" type="text/css" href="/admin/assets/css/common.css">
</head>
<body>
  <div class="container">
  	<!-- 侧边栏 -->
  	<div class="sidebar">
  		<div class="logo">电子商城</div>
  		<hr>
  		<div class="menu">
  			<ul>
				<li id="admin">
					<a href="/admin/admin">
						<img src="/admin/assets/img/admin1.png">
						<label>控制台</label>
					</a>
				</li>
				<li id="user">
					<a href="/admin/user">
						<img src="/admin/assets/img/user1.png">
						<label>用户管理</label>
					</a>
				</li>
				<li id="product">
					<a href="/admin/product">
						<img src="/admin/assets/img/product1.png">
						<label>商品管理</label>
					</a>
				</li>
				<li id="order">
					<a href="/admin/order">
						<img src="/admin/assets/img/order1.png">
						<label>订单管理</label>
					</a>
				</li>
  			</ul>
  		</div>
  	</div>
  	<!-- 主内容区 -->
  	<div class="main">
  		<!-- 导航条 -->
  	    <div class="nav">
  	    	<div class="nav_brand">控制台</div>
            <div class="nav_bar">
            	<ul >
            		<li id="useritem">
            			<img src="assets/img/user1.png">
            			<ul id="drop_menu">
							<li><a href="/admin/admin_edit">编辑</a></li>
							<li><a href="/admin/logout">退出</a></li>
            			</ul>
            		</li>
            	</ul>
            </div>
  	    </div>
  	    <!-- nav结束 -->
  	    <!-- 内容区 -->
  	    <div class="content">
  	    	<div class="table_card">
  	    		<div class="table_desc">
  	    			<div class="desc1">修改用户</div>
  	    			<div class="desc2">修改一个用户</div>
  	    		</div>
  	    		<div class="form">
              <form action="/admin/userEdit" method="post">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="edit1">
                  <p>用户名</p>
                  <input class="edit" type="text" name="username" th:value="${user.username}">
                </div>
                <div class="clear"></div>
                <div class="edit1">
                  <p>联系电话</p>
                  <input class="edit" type="text" name="phone" th:value="${user.phone}">
                </div>
                <div class="edit1">
                  <p>电子邮箱</p>
                  <input class="edit" type="text" name="email" th:value="${user.email}">
                </div>
                <input class="button" type="submit" name="submit" value="更新信息">
              </form>

  	    		</div>
  	    	</div>
  	    </div>
  	</div>
  </div>
	
</body>
<script type="text/javascript" src="/admin/assets/JS/common.js"></script>
</html>