<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/shop/assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="/shop/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/shop/assets/css/buySuccess.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <img src="/shop/assets/HTML-img/logo.png" alt="">
    </div>
    <div class="position">
        <a href="/shop/city"><img src="/shop/assets/HTML-img/location.png" alt=""></a>
        <ul>
            <li th:text="${province}"></li>
            <li th:text="${city}"></li>
            <li th:text="${area}"></li>
        </ul>
    </div>
    <div class="school">
        <a href="/shop/school"><img src="/shop/assets/HTML-img/school.png" alt=""></a>
        <ul>
            <li th:text="${school}"></li>
        </ul>
    </div>
    <ul class="navigation">
        <li><a href="/shop/index">首页</a></li>
        <li><a href="/shop/index/sortedByTime">最近发布</a></li>
        <li><a href="/shop/index/chosenByLocation">同城优选</a></li>
        <li><a href="/shop/index/chosenBySchool">校内交易</a></li>
        <li><a href="/shop/sale">发布商品</a></li>

    </ul>
    <ul class="person">
        <li>
            <a href="/shop/person">
                <img id="user-img" src="/shop/assets/HTML-img/user1.png" alt="">
            </a>
        </li>
        <li>
            <p th:text="'您好！' + ${shopusername}"></p>
        </li>
        <li>
            <a href="/shop/cart">
                <img id="cart-img" src="/shop/assets/HTML-img/cart1.png" alt="">
            </a>
        </li>
        <li>
            <a href="/shop/exit">
                <img id="exit-img" src="/shop/assets/HTML-img/exit.png" alt="">
            </a>
        </li>
    </ul>
    <div class="search">
        <form action="/shop/search" method="post">
            <div class="input"></div>
        </form>
    </div>
</header>
<div class="divider"></div>
<div>


</div>

<div class="container">
    <div class="left-div">
        <img src="/shop/assets/HTML-img/buySuccess.png" alt="" class="product_img">
        <h3 class="successTitle">购买成功</h3>
    </div>
    <div class="right-div">
        <h3 class="order_title">订单详情</h3>
        <p class="productName" th:text="'商品名称：'+${product.name}"></p>
        <p class="productPrice" th:text="'￥'+${product.price}"></p>
        <p class="order_id" th:text="'订单编号：'+${order.id}"></p>
        <p class="thank">感谢您的使用</p>
    </div>
</div>