<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>登录 | 二手交易平台</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/shop/assets/css/login.css">
	<link rel="stylesheet" type="text/css" href="/shop/assets/css/header.css">

</head>
<body>
<header>
	<div class="head">
		<div class="logo">
			<img src="/shop/assets/HTML-img/logo.png" alt="">
		</div>
		<ul class="navigation">
			<li><a href="/shop/index">首页</a></li>
			<li><a href="/shop/index/sortedByTime">最近发布</a></li>
			<li><a href="/shop/index/chosenByLocation">同城优选</a></li>
			<li><a href="/shop/index/chosenBySchool">校内交易</a></li>
			<li><a href="/shop/sale">发布商品</a></li>

		</ul>
		<ul class="person">
			<li>
				<a href="/shop/person">
					<img id="user-img" src="/shop/assets/HTML-img/user1.png" alt="">
				</a>
			</li>
			<li>
				<a href="/shop/cart">
					<img id="cart-img" src="/shop/assets/HTML-img/cart1.png" alt="">
				</a>
			</li>
			<li>
				<a href="/shop/exit">
					<img id="exit-img" src="/shop/assets/HTML-img/exit.png" alt="">
				</a>
			</li>
		</ul>
	</div>

</header>
	<div class="login-container">
		<h1>登录</h1>
		<h3 th:text="${loginMistake}"></h3>
		<form action="/shop/login" method="post">
			<input type="text" placeholder="用户名" name="username">
			<input type="password" placeholder="密码" name="password">
			<button type="submit">登录</button>
		</form>
		<p><a href="/shop/signup">立即注册</a>   <a href="/shop/changePassword">修改密码</a></p>
	</div>
</body>
</html>